<div id="sign_up" class="modal">
  <div class="modal-content">
    <h4>Sign Up!</h4>
    <form action="/signup" class="sign_up">
      <section class="input-field inline">
        <input name="email" value="" id="email" type="email" class="validate" required="" aria-required="true">
        <label class="active" for="email">Email</label>
      </section>
      <section class="input-field inline">
        <input name="password_digest" value="" id="password" type="password" class="validate" required="" aria-required="true">
        <label class="active" for="password">Password</label>
      </section>
    </form>
  </div>
</div>
